/* Built-In */
body {
    background-color: #f5f5f5;
    margin: 0;
    color: #3c3c3c;
}

a {
    color: #ff5a5f;
}

/* Layout */
.CONTAINER {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    background-color: white;
}


/* Items */
.NAME {
    font-size: 36px;
    font-weight: bold;
}

.INDEX_ITEM {
    color: #3c3c3c;
    font-weight: bold;
}

.AVATAR {
    border-radius: 50%;
    border: 1px solid #3c3c3c;
}

.SECTION-HEADER {
    font-weight: bold;
    font-size: large;
    position: relative;
    text-indent: 1em;
}

.SECTION-HEADER::before {
    content: "";
    display: block;
    float: left;
    width: 0.5%;
    background-color: #ff5a5f;
    position: absolute;
    height: 100%;
}

/* FONT Related CSS */
.FONT36 {
    font-size: 36px
}

.FONT18 {
    font-size: 18px
}

.FONT-BOLD {
    font-weight: bold
}

.FONT-SMALL {
    font-size: small
}

.FONT-TIMES-NEW-ROMAN {
    font-family: Georgia, "Times New Roman", Times, serif
}

.FONT-ARIAL {
    font-family: Arial, Helvetica, sans-serif
}

.FONT-SONG {
    font-family: "宋体"
}